<app-header-admin></app-header-admin><br><br>
<div class="container">
    <h2 style="color: #0066FF; font-family: 'Arial Black', sans-serif;">Consulter les Messages</h2><br>
    <table class="table">
        <thead>
            <tr>
                <th style="color: #8f5c10;">Nom</th>
                <th style="color: #8f5c10;">Prénom</th>
                <th style="color: #8f5c10;">Téléphone</th>
                <th style="color: #8f5c10;">Message</th>
                <th style="color: #8f5c10;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.message }}</td>
                 <td>
                    <button (click)="supprimerMessage(contact)">Archiver</button>
                  </td>
            </tr>
        </tbody>
    </table>
  </div>